/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-default: "Poppins", sans-serif, Arial
}

/* Colors */
:root {
    --color-default: #ffffff;
    --color-primary: #E1712B;
    --color-secondary: #505050;
    --color-blue: #11365A;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}
/* General */
body {
    font-family: var(--font-default);
    color: var(--color-default);
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-blue);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-default);
}

/* Buttons */
.btn-default,
.btn-default:focus {
    padding: 12px 50px;
    color: var(--color-default);
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    transition: 0.3s;
}
.btn-default:hover,
.btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}

/* Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

/* Topbar */
#topbar {
    background-color: var(--color-blue);
    color: var(--color-default);
    height: 52px;
    font-size: 14px;
    transition: all 0.5s;
    padding: 0;
}
#topbar.topbar-scrolled {
    top: -52px;
}
#topbar .contact-info ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
#topbar .contact-info li {
    position: relative;
}
#topbar .contact-info li a {
    color: var(--color-default);
    font-size: 14px;
    margin: 0 20px;
    line-height: 0;
    transition: 0.3s;
}
#topbar .contact-info li a:hover {
    color: var(--color-primary);
}
#topbar .social-links a {
    color: #fff;
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}
#topbar .social-links a:hover {
    color: var(--color-primary);
}
#topbar .social-links i {
    font-size: 20px;
}

/* Header */
#header {
    transition: all 0.5s;
    z-index: 997;
    height: 103px;
    top: 52px;
}
#header.page {
    background: var(--color-default);
    height: 103px;
}
#header .logo img {
    max-height: 40px;
}
#header.header-scrolled {
    background: var(--color-default);
    top: 0;
}

/* Navbar */
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
}
.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 4px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before,
.navbar .current-menu-item a:before,
.navbar.page .current-menu-item a:before {
    visibility: visible;
    width: 17px;
}
.navbar .current-menu-item a,
.navbar.page .current-menu-item a{
    color: var(--color-primary);
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--color-primary);
}
.navbar .button, .navbar .button:focus,
.navbar.scrolled .button, .navbar .button:focus,
.navbar.page .button, .navbar.page .button:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: var(--color-default);
}
.navbar .button:hover, .navbar .button:focus:hover,
.navbar.scrolled .button:hover, .navbar.scrolled .button:focus:hover,
.navbar.page .button:hover, .navbar.page .button:focus:hover {
    background-color: var(--color-blue);
    color: var(--color-default);
}
.navbar>ul>li>a.button:before {
    visibility: hidden;
}
.navbar.scrolled a,
.navbar.scolled a:focus {
    color: var(--color-blue);
}
.navbar.page a,
.navbar.page a:focus {
    color: var(--color-blue);
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-default);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: var(--color-default);
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
}
.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

/* Section */
.section-title {
    text-align: center;
    padding-bottom: 30px;
}

/* Hero */
section#hero {
    padding: 0;
}
#hero .col-md-12{
    padding: 0;
}
#hero .swiper-slide{
    width: 100%;
    min-height: 85vh;
    background-color: var(--color-primary);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: var(--color-default);
}
#hero .swiper-slide::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    mix-blend-mode: multiply;
    z-index: 0;
}
#hero .swiper-slide h2 {
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: #EBB024;
    z-index: 1;
}
#hero .swiper-slide p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
    z-index: 1;
}

/* Hero Pages */
section#hero-page {
    padding: 0;
    margin-top: 135px;
}
#hero-page .col-md-12{
    padding: 0;
}
#hero-page .swiper-slide{
    width: 100%;
    min-height: 400px;
    background-color: var(--color-primary);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: var(--color-default);
}
#hero-page .swiper-slide::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    mix-blend-mode: multiply;
    z-index: 0;
}
#hero-page .swiper-slide h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: #EBB024;
    z-index: 1;
}
#hero-page .swiper-slide p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
    z-index: 1;
}

/* Slim CTA */
#slim-cta {
    background: url("../assets/images/banner-servicos.jpg") no-repeat;
    padding: 100px 0;
    text-align: center;
    position: relative;
    margin-bottom: 150px;
}
#slim-cta::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    mix-blend-mode: multiply;
    z-index: 0;
}
#slim-cta .col-md-12{
    z-index: 1;
}
#slim-cta h3{
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: var(--color-default);
    margin-bottom: 50px;
}

/* Section Infraestrutura */
section#infraestrutura {
    margin: 150px 0 100px;
}
#infraestrutura {
    background: var(--color-primary);
}
#infraestrutura .content {
    padding: 40px 40px 40px 100px;
}
#infraestrutura img {
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 99;
    width: 680px;
    height: 680px;
}
#infraestrutura .content .btn-default,
#infraestrutura .content .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#infraestrutura .content .btn-default:hover,
#infraestrutura .content .btn-default:focus:hover {
    color: var(--color-primary);
    background: var(--color-default);
    border-color: var(--color-default);
}
#infraestrutura .content h3 {
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: var(--color-default);
    margin-bottom: 50px;
}

/*
    * Homepage
*/

/* Section Serviços Interlog */
#servico-interlog {
    background: var(--color-default);
}
#servico-interlog .section-title h3 {
    font-size: 44px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    padding-bottom: 70px;
}
#servico-interlog .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px;
}
#servico-interlog .icon-box .icon-box-img img{
    max-width: 149px;
    max-height: 136px;
}
#servico-interlog .icon-box .icon-box-body {
    flex: 2;
    padding: 0 20px;
}
#servico-interlog .icon-box h4 {
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}
#servico-interlog .icon-box p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#servico-interlog .btn-default,
#servico-interlog .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#servico-interlog .btn-default:hover,
#servico-interlog .btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}

/* Section Cotação */
section#cotacao {
    padding: 100px 0 0;
}
#cotacao {
    background: url("../assets/images/bg-cotacao.jpg") no-repeat;
    position: relative;
    z-index: 1;
}
#cotacao .form-cotacao{
    background-color: var(--color-default);
    border: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px;
}
#cotacao .form-cotacao .nav-pills .nav-link {
    color: var(--color-secondary);
}
#cotacao .form-cotacao .nav-pills {
    --bs-nav-pills-border-radius: 0;
    background-color: transparent;
}
#cotacao .form-cotacao .nav-pills .nav-link.active, #cotacao .form-cotacao .nav-pills .show>.nav-link {
    color: var(--color-primary);
    background-color: transparent;
}
#cotacao .form-cotacao .nav-pills > li > a.active {
    color: #007bff;
    position: relative;
    z-index: 1;
}
#cotacao .form-cotacao .nav-pills > li > a.active:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 0;
    height: 4px;
    width: 50%;
    border-bottom:4px solid var(--color-primary);
}
#cotacao .form-cotacao .tab-content{
    padding: 0 100px;
}
#cotacao .form-cotacao h4{
    padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}
#cotacao .form-cotacao .form-group {
    margin-bottom: 30px;
}
#cotacao .form-cotacao .form-group input,
#cotacao .form-cotacao .form-group select {
    height: 60px;
    border-color: var(--color-secondary);
    border-radius: 10px;
}
#cotacao .form-cotacao .form-group label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#cotacao .form-cotacao .form-group input[type=radio] {
    accent-color: var(--color-primary);
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}
#cotacao .form-cotacao .form-group span {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#cotacao .form-cotacao .form-group span .wpcf7-list-item-label{
    padding-left: 10px;
}
#cotacao .form-cotacao .form-group .wpcf7-list-item {
    display: inline-block;
    margin: 0 100px 0 0;
}
#cotacao .form-cotacao .form-group .btn-default,
#cotacao .form-cotacao .form-group .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#cotacao .form-cotacao .form-group .btn-default:hover,
#cotacao .form-cotacao .form-group .btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}
#cotacao .form-cotacao .form-group .wpcf7-spinner {
    display: block;
    top: 15px;
    left: 45%;
}
#cotacao .form-cotacao p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary);
}
#cotacao .form-cotacao a.acesse{
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.5s;
}

/* Section Melhores Serviços */
section#melhores-servicos {
    padding: 0;
}
#melhores-servicos {
    background: url("../assets/images/bg-melhores-servicos.jpg") no-repeat;
    position: relative;
    z-index: 0;
    top: -150px;
}
#melhores-servicos .section-title {
    padding: 240px 0 70px;
}
#melhores-servicos .section-title h3 {
    font-size: 44px;
    font-weight: 700;
    color: var(--color-default);
    text-align: center;
    padding-bottom: 20px;
}
#melhores-servicos .section-title h3 strong {
    color: var(--color-primary);
}
#melhores-servicos .section-title p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
}
#melhores-servicos .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    flex-direction: column;
}
#melhores-servicos .icon-box .icon-box-body {
    padding: 30px 50px;
    text-align: center;
}
#melhores-servicos .icon-box h4 {
    padding: 0 0 20px;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
}
#melhores-servicos .icon-box p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
}
#melhores-servicos .btn-default,
#melhores-servicos .btn-default:focus {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}
#melhores-servicos .btn-default:hover,
#melhores-servicos .btn-default:focus:hover {
    color: var(--color-primary);
    background: var(--color-default);
    border-color: var(--color-default);
}

/*
    * Sobre
*/

/* Section Nosso Portfolio */
section#nosso-portfolio {
    margin: 150px 0 100px;
}
#nosso-portfolio {
    background: transparent;
}
#nosso-portfolio .content {
    padding: 40px 40px 40px 100px;
}
#nosso-portfolio img {
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 99;
    width: 680px;
    height: 485px;
}
#nosso-portfolio .content p {
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-secondary);
}

/* Section Relacao */
#relacao {
    background: var(--color-primary);
    background: url("../assets/images/bg-relacoes.jpg") no-repeat;
    position: relative;
    z-index: 0;
    top: -150px;
}
#relacao .content {
    padding: 100px 100px;
    text-align: center;
}
#relacao .content h3 {
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: var(--color-default);
}

/* Section Relacao */
section#mvv{
    margin-top: -150px;
    padding: 60px 0 140px;
}
#mvv {
    background: transparent;
}
#mvv .grid-cards {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "card-1 side"
    "card-1 side"
    "card-2 side"
    "card-2 side";
    grid-template-columns: 423px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
#mvv .grid-cards .card-1 {
    grid-area: card-1;
}
#mvv .grid-cards .card-2 {
    grid-area: card-2;
}
#mvv .grid-cards .side {
    grid-area: side;
}
#mvv .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 10px;
    width: 100%;
    height: 100%;
}
#mvv .icon-box .icon-box-img img{
    max-width: 149px;
    max-height: 136px;
    margin-top: 20px;
}
#mvv .icon-box .icon-box-body {
    padding: 0 20px;
    text-align: left;
}
#mvv .icon-box h4 {
    padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}
#mvv .icon-box p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}

/*
    * Serviços
*/

/* Section Distribuição */
section#distribuicao {
    padding: 60px 0 25px;
}
#distribuicao {
    background: var(--color-default);
}
#distribuicao .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
}
#distribuicao .icon-box .icon-box-img{
    padding: 0 20px 0 0;
}
#distribuicao .icon-box .icon-box-img img{
    max-width: 307px;
    max-height: 281px;
    object-fit: cover;
    object-position: center;
}
#distribuicao .icon-box .icon-box-body {
    flex: 2;
    padding: 0 20px;
}
#distribuicao .icon-box .icon-box-body h4 {
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}
#distribuicao .icon-box .icon-box-body p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#distribuicao #sobre-distribuicao {
    margin-top: 50px;
}
#distribuicao #sobre-distribuicao .card {
    border-radius: 26px;
}
#distribuicao #sobre-distribuicao .card .card-img, #distribuicao .card .card-img-top {
    border-radius: 26px;
}
#distribuicao #sobre-distribuicao .card .card-body {
    text-align: center;
}
#distribuicao #sobre-distribuicao .card .card-body h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 20px 0;
}
#distribuicao #sobre-distribuicao .card .card-body p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#distribuicao #sobre-distribuicao .card .card-body p b,
#distribuicao #sobre-distribuicao .card .card-body p strong {
    font-weight: 7400;
}

/* Section Armazenagem */
section#armazenagem {
    padding: 0;
}
#armazenagem {
    background: var(--color-default);
}
#armazenagem .border{
    width: 70%;
    margin: 50px auto ;
}
#armazenagem img{
    max-width: 600px;
    max-height: 450px;
    border-radius: 26px;
}
#armazenagem .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
}
#armazenagem .icon-box .icon-box-img{
    padding: 0 20px 0 0;
}
#armazenagem .icon-box .icon-box-img img{
    max-width: 121px;
    max-height: 110px;
    object-fit: cover;
    object-position: center;
}
#armazenagem .icon-box .icon-box-body {
    flex: 2;
    padding: 0 20px;
}
#armazenagem .icon-box .icon-box-body h4 {
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}
#armazenagem .icon-box .icon-box-body p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#armazenagem .icon-box .icon-box-footer {
    padding: 25px 0;
}
#armazenagem .icon-box .icon-box-footer p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}

/* Section Gestão Eletrônica de Documentos */
section#gestao-eletronica-documentos {
    padding: 0;
}
#gestao-eletronica-documentos {
    background: var(--color-default);
}
#gestao-eletronica-documentos .border{
    width: 70%;
    margin: 50px auto;
}
#gestao-eletronica-documentos img{
    max-width: 600px;
    max-height: 450px;
    border-radius: 26px;
}
#gestao-eletronica-documentos .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
}
#gestao-eletronica-documentos .icon-box .icon-box-img{
    padding: 0 20px 0 0;
}
#gestao-eletronica-documentos .icon-box .icon-box-img img{
    max-width: 121px;
    max-height: 110px;
    object-fit: cover;
    object-position: center;
}
#gestao-eletronica-documentos .icon-box .icon-box-body {
    flex: 2;
    padding: 0 20px;
}
#gestao-eletronica-documentos .icon-box .icon-box-body h4 {
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}
#gestao-eletronica-documentos .icon-box .icon-box-body p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#gestao-eletronica-documentos .icon-box .icon-box-footer {
    padding: 25px 0;
}
#gestao-eletronica-documentos .icon-box .icon-box-footer p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}

/* Section Courier Internacional */
section#courier-internacional {
    padding: 0 0 60px;
}
#courier-internacional {
    background: var(--color-default);
}
#courier-internacional .border{
    width: 70%;
    margin: 50px auto;
}
#courier-internacional img{
    max-width: 600px;
    max-height: 450px;
    border-radius: 26px;
}
#courier-internacional .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
}
#courier-internacional .icon-box .icon-box-img{
    padding: 0 20px 0 0;
}
#courier-internacional .icon-box .icon-box-img img{
    max-width: 121px;
    max-height: 110px;
    object-fit: cover;
    object-position: center;
}
#courier-internacional .icon-box .icon-box-body {
    flex: 2;
    padding: 0 20px;
}
#courier-internacional .icon-box .icon-box-body h4 {
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}
#courier-internacional .icon-box .icon-box-body p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#courier-internacional .icon-box .icon-box-footer {
    padding: 25px 0;
}
#courier-internacional .icon-box .icon-box-footer p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}

/*
    * Estrutura
*/

/* Dados Estrutura */
#dados-estrutura {
    background: url("../assets/images/banner-servicos.jpg") no-repeat;
    text-align: center;
    position: relative;
}
#dados-estrutura::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    mix-blend-mode: multiply;
    z-index: 0;
}
#dados-estrutura .col-md-4{
    z-index: 1;
}
#dados-estrutura .icon-box {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
}
#dados-estrutura .icon-box .icon-box-header h3 {
    padding: 0;
    font-size: 100px;
    font-weight: 700;
    color: var(--color-default);
}
#dados-estrutura .icon-box .icon-box-body h4 {
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-default);
}
#dados-estrutura .icon-box .icon-box-footer p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
}

/* Section Courier Internacional */
#dados-estrutura-second {
    background: var(--color-default);
}
#dados-estrutura-second img{
    max-width: 600px;
    max-height: 450px;
    border-radius: 26px;
}
#dados-estrutura-second .icon-box .icon-box-body h4 {
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: var(--color-primary);
}
#dados-estrutura-second .icon-box .icon-box-body p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#dados-estrutura-second .icon-box .icon-box-footer {
    padding: 25px 0;
}
#dados-estrutura-second .icon-box .icon-box-footer p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}

/*
    * Cotação
*/

/* Form */
#page-cotacao {
    background-color: var(--color-default);
    margin-bottom: 70px;
}
#page-cotacao .form-cotacao{
    background-color: var(--color-default);
    border: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px;
}
#page-cotacao .form-cotacao .nav-pills .nav-link {
    color: var(--color-secondary);
}
#page-cotacao .form-cotacao .nav-pills {
    --bs-nav-pills-border-radius: 0;
    background-color: transparent;
}
#page-cotacao .form-cotacao .nav-pills .nav-link.active, #page-cotacao .form-cotacao .nav-pills .show>.nav-link {
    color: var(--color-primary);
    background-color: transparent;
}
#page-cotacao .form-cotacao .nav-pills > li > a.active {
    color: #007bff;
    position: relative;
    z-index: 1;
}
#page-cotacao .form-cotacao .nav-pills > li > a.active:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 0;
    height: 4px;
    width: 50%;
    border-bottom:4px solid var(--color-primary);
}
#page-cotacao .form-cotacao .tab-content{
    padding: 0 100px;
}
#page-cotacao .form-cotacao h4{
    padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}
#page-cotacao .form-cotacao .form-group {
    margin-bottom: 30px;
}
#page-cotacao .form-cotacao .form-group input,
#page-cotacao .form-cotacao .form-group select {
    height: 60px;
    border-color: var(--color-secondary);
    border-radius: 10px;
}
#page-cotacao .form-cotacao .form-group label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#page-cotacao .form-cotacao .form-group input[type=radio] {
    accent-color: var(--color-primary);
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}
#page-cotacao .form-cotacao .form-group span {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#page-cotacao .form-cotacao .form-group span .wpcf7-list-item-label{
    padding-left: 10px;
}
#page-cotacao .form-cotacao .form-group .wpcf7-list-item {
    display: inline-block;
    margin: 0 100px 0 0;
}
#page-cotacao .form-cotacao .form-group .btn-default,
#page-cotacao .form-cotacao .form-group .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#page-cotacao .form-cotacao .form-group .btn-default:hover,
#page-cotacao .form-cotacao .form-group .btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}
#page-cotacao .form-cotacao .form-group .wpcf7-spinner {
    display: block;
    top: 15px;
    left: 45%;
}
#page-cotacao .form-cotacao p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary);
}
#page-cotacao .form-cotacao a.acesse{
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.5s;
}

/* Footer */
footer {
    background: var(--color-default);
    padding: 0 0 30px 0;
    margin-top: -70px;
}
footer .footer-enderecos {
    padding: 10px 0;
}
footer .footer-enderecos h5 {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-blue);
}
footer .footer-enderecos p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-blue);
}
footer #footer-bottom{
    margin-top: 40px;
    border-top: 1px solid #C9C9C9;
}
footer #footer-bottom p,
footer #footer-bottom a{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
    transition: all 0.5s;
    margin-bottom: 0;
}
footer #footer-bottom a:hover{
    color: var(--color-blue);
}