/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-default: "Poppins", sans-serif, Arial
}

/* Colors */
:root {
    --color-default: #ffffff;
    --color-primary: #E1712B;
    --color-secondary: #505050;
    --color-blue: #11365A;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}
/* General */
body {
    font-family: var(--font-default);
    color: var(--color-default);
}
a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-blue);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-default);
}

/* Buttons */
.btn-default,
.btn-default:focus {
    padding: 12px 50px;
    color: var(--color-default);
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    transition: 0.3s;
}
.btn-default:hover,
.btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}

/* Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

/* Topbar */
#topbar {
    background-color: var(--color-blue);
    color: var(--color-default);
    height: 52px;
    font-size: 14px;
    transition: all 0.5s;
    padding: 0;
}
#topbar.topbar-scrolled {
    top: -52px;
}
#topbar .contact-info ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
#topbar .contact-info li {
    position: relative;
}
#topbar .contact-info li a {
    color: var(--color-default);
    font-size: 14px;
    margin: 0 20px;
    line-height: 0;
    transition: 0.3s;
}
#topbar .contact-info li a:hover {
    color: var(--color-primary);
}
#topbar .social-links a {
    color: #fff;
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}
#topbar .social-links a:hover {
    color: var(--color-primary);
}
#topbar .social-links i {
    font-size: 20px;
}

/* Header */
#header {
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  top: 60px;
}
#header .logo img {
    max-height: 40px;
}
#header.header-scrolled {
  background: var(--color-default);
  top: 0;
}

/* Navbar */
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}
.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 17px;
    height: 4px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 17px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--color-primary);
}
.navbar .button, .navbar .button:focus,
.navbar.scrolled .button, .navbar .button:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: var(--color-default);
}
.navbar .button:hover, .navbar .button:focus:hover,
.navbar.scrolled .button:hover, .navbar .button:focus:hover {
    background-color: var(--color-blue);
    color: var(--color-default);
}
.navbar>ul>li>a.button:before {
    visibility: hidden;
}
.navbar.scrolled a,
.navbar.scolled a:focus {
    color: var(--color-blue);
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-default);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: var(--color-default);
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
}
.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

/* Section */
.section-title {
    text-align: center;
    padding-bottom: 30px;
}

/* Hero */
section#hero {
    padding: 0;
}
#hero .col-md-12{
    padding: 0;
}
#hero .swiper-slide{
    width: 100%;
    min-height: 80vh;
    background-color: var(--color-primary);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 60px 0;
    color: var(--color-default);
}
#hero .swiper-slide::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    mix-blend-mode: multiply;
    z-index: 0;
}
#hero .swiper-slide h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: var(--color-primary);
    z-index: 1;
}
#hero .swiper-slide p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
    z-index: 1;
}

/* Section Infraestrutura */
#infraestrutura {
    background: var(--color-primary);
}
#infraestrutura .content {
    padding: 40px;
}
#infraestrutura img {
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    object-fit: cover;
    object-position: center;
}
#infraestrutura .content .btn-default,
#infraestrutura .content .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#infraestrutura .content .btn-default:hover,
#infraestrutura .content .btn-default:focus:hover {
    color: var(--color-primary);
    background: var(--color-default);
    border-color: var(--color-default);
}
#infraestrutura .content h3 {
    padding: 0;
    font-size: 44px;
    font-weight: 700;
    color: var(--color-default);
    margin-bottom: 50px;
}

/* Section Serviços Interlog */
#servico-interlog {
    background: var(--color-default);
}
#servico-interlog .section-title h3 {
    font-size: 44px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    padding-bottom: 70px;
}
#servico-interlog .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    margin-bottom: 43px;
    border: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px;
}
#servico-interlog .icon-box .icon-box-img img{
    max-width: 149px;
    max-height: 136px;
}
#servico-interlog .icon-box .icon-box-body {
    flex: 2;
    padding: 0 20px;
}
#servico-interlog .icon-box h4 {
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}
#servico-interlog .icon-box p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#servico-interlog .btn-default,
#servico-interlog .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#servico-interlog .btn-default:hover,
#servico-interlog .btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}

/* Section Cotação */
section#cotacao {
    padding: 100px 0 0;
}
#cotacao {
    background: url("../assets/images/bg-cotacao.jpg") no-repeat;
    position: relative;
    z-index: 1;
}
#cotacao .form-cotacao{
    background-color: var(--color-default);
    border: none;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px;
}
#cotacao .form-cotacao .nav-pills .nav-link {
    color: var(--color-secondary);
}
#cotacao .form-cotacao .nav-pills {
    --bs-nav-pills-border-radius: 0;
    background-color: transparent;
}
#cotacao .form-cotacao .nav-pills .nav-link.active, #cotacao .form-cotacao .nav-pills .show>.nav-link {
    color: var(--color-primary);
    background-color: transparent;
}
#cotacao .form-cotacao .nav-pills > li > a.active {
    color: #007bff;
    position: relative;
    z-index: 1;
}
#cotacao .form-cotacao .nav-pills > li > a.active:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 0;
    height: 4px;
    width: 50%;
    border-bottom:4px solid var(--color-primary);
}
#cotacao .form-cotacao .tab-content{
    padding: 0 100px;
}
#cotacao .form-cotacao h4{
    padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}
#cotacao .form-cotacao .form-group {
    margin-bottom: 30px;
}
#cotacao .form-cotacao .form-group input,
#cotacao .form-cotacao .form-group select {
    height: 60px;
    border-color: var(--color-secondary);
    border-radius: 10px;
}
#cotacao .form-cotacao .form-group label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#cotacao .form-cotacao .form-group input[type=radio] {
    accent-color: var(--color-primary);
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}
#cotacao .form-cotacao .form-group span {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secondary);
}
#cotacao .form-cotacao .form-group span .wpcf7-list-item-label{
    padding-left: 10px;
}
#cotacao .form-cotacao .form-group .wpcf7-list-item {
    display: inline-block;
    margin: 0 100px 0 0;
}
#cotacao .form-cotacao .form-group .btn-default,
#cotacao .form-cotacao .form-group .btn-default:focus {
    color: var(--color-default);
    background: var(--color-blue);
    border-color: var(--color-blue);
}
#cotacao .form-cotacao .form-group .btn-default:hover,
#cotacao .form-cotacao .form-group .btn-default:focus:hover {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}
#cotacao .form-cotacao .form-group .wpcf7-spinner {
    display: block;
    top: 15px;
    left: 45%;
}
#cotacao .form-cotacao p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary);
}
#cotacao .form-cotacao a.acesse{
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.5s;
}

/* Section Melhores Serviços */
section#melhores-servicos {
    padding: 0;
}
#melhores-servicos {
    background: url("../assets/images/bg-melhores-servicos.jpg") no-repeat;
    position: relative;
    z-index: 0;
    top: -150px;
}
#melhores-servicos .section-title {
    padding: 240px 0 70px;
}
#melhores-servicos .section-title h3 {
    font-size: 44px;
    font-weight: 700;
    color: var(--color-default);
    text-align: center;
    padding-bottom: 20px;
}
#melhores-servicos .section-title h3 strong {
    color: var(--color-primary);
}
#melhores-servicos .section-title p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
}
#melhores-servicos .icon-box {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    align-items: center;
    flex-direction: column;
}
#melhores-servicos .icon-box .icon-box-body {
    padding: 30px 50px;
    text-align: center;
}
#melhores-servicos .icon-box h4 {
    padding: 0 0 20px;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
}
#melhores-servicos .icon-box p {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-default);
}
#melhores-servicos .btn-default,
#melhores-servicos .btn-default:focus {
    color: var(--color-default);
    background: var(--color-primary);
    border-color: var(--color-primary);
}
#melhores-servicos .btn-default:hover,
#melhores-servicos .btn-default:focus:hover {
    color: var(--color-primary);
    background: var(--color-default);
    border-color: var(--color-default);
}

/* Footer */
footer {
    background: var(--color-default);
    padding: 0 0 30px 0;
    margin-top: -70px;
}
footer .footer-enderecos {
    padding: 10px 0;
}
footer .footer-enderecos h5 {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-blue);
}
footer .footer-enderecos p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-blue);
}
footer #footer-bottom{
    margin-top: 40px;
    border-top: 1px solid #C9C9C9;
}
footer #footer-bottom p,
footer #footer-bottom a{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
    transition: all 0.5s;
    margin-bottom: 0;
}
footer #footer-bottom a:hover{
    color: var(--color-blue);
}