@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }  
  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }
  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(14, 29, 52, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  .navbar .button,
  .navbar .button:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }
  .navbar .button:hover,
  .navbar .button:focus:hover {
    color: #fff;
  }
  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #19335c;
  }
  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
#infraestrutura img {
  width: 520px;
  height: 520px;
}
#infraestrutura .content h3 {
  font-size: 30px;
}
#infraestrutura .content .btn-default, #infraestrutura .content .btn-default:focus {
  font-size: 14px;
}
#servico-interlog .icon-box h4 {
  font-size: 22px;
}
#melhores-servicos .section-title h3 {
  font-size: 36px;
}
#melhores-servicos .icon-box h4 {
  font-size: 20px;
}
footer .footer-brand img {
  width: 100%;
}
}

@media (min-width: 320px) and (max-width: 480px) {
  #topbar .contact-info a {
    padding: 0 10px;
    color: #fff;
    line-height: 0;
    transition: 0.3s;
  }
}